/* start - content layout definition */
body{
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 20px;
}

header{
    margin-bottom: 4%;
    width: 100%;
}
.head-con{
    width: 100%;
}
.header-p{
    width: 30%;
    float: left;
}

.navs{
    width: 70%;
    float: right;
}

.nav-1{
    text-align: center;
    width: 60%;
    float: left;
}

.nav-2{
    text-align: right;
    width: 40%;
    float: right;
}

.main-body{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;

}

.case{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
    height: 60px;
    padding-right: 5px;
}

#h3-left{
    width: 45%;
    float: left;
}

#a-right{
    width: 45%;
    float: right;
    text-align: right;
}

.service-con{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
}

.grid-1{
    border: white solid 1px;
    padding: 10px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

/* end - layout of the page  */

/* start -  page and content styling */
p{
    font-weight: bold;
}

.line-h{
    line-height: 1.5em;
    margin-top: -20px;
}

a{
    text-decoration: none;
    padding-left: 10px;
    color: #A1A1A1;
}

.a-white{
    color: white;
}

h1{
    font-size: 3.5em;
}

span{
    color: #A1A1A1;
}

.btn-blue{
    color: white;
    background-color: #276DF1;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.faq{
    padding-right: 10px;
}

.h3-bolder{
    font-size: 2em;
}

.line-hh{
    line-height: 2em;
    font-family: monospace;
    font-weight: 100;
    color: #A1A1A1;
}

.hh-white{
    color: white;
}
.blue-grid{
    background-color: #276DF1;
    color: white;
    border: none;
}

a:hover{
    color: #276DF1 ;
}