body{
    height: 100vh;
    padding-top: 50px;
}

/* styling the chess board */
main{
    width: fit-content;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 6px solid black;
    margin: 0 auto;  
}

/* the space each chess spot occupies */
div{
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 60px;
}

.black{
    background-color: chocolate;
}

.white{
    background-color: burlywood;
}
